<strong>Hi, {{ student }} </strong>
<p>Hello, your registration was successful, see the details below::</p>
<p>
  <strong>Student: </strong> {{ student }}<br />
  <strong>Plan: </strong> {{ plan }}<br />
  <strong>Value: </strong> R${{ price }} <br />
  <strong>Expires: </strong> {{ end_date }}
  <br />
  <small>
    Enjoy workouts, let's grow up.
  </small>
</p>
